@import "variables.scss";

#ml-wrap{
	min-height: 100vh;
	width: 100%;
	background-color: $beige;
	overflow-x: hidden;

	main{
		margin-top: 100px; 
		padding: 0 220px;
		section{

			h1{
				text-align: center;
				margin-bottom: 40px;
			}

			h2{
				font-size: 16px;
				margin-bottom: 10px;
			}

			p{
				line-height: 200%;
				margin-bottom: 40px;
			}

			#ml-center{
				text-align: center;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		#ml-wrap{
			header{
				background-color: white;
				#logo{
					height: 100px;
					width: 100px;
				}
			}
		}
		main{
			margin-top: 239px;
			padding: 0 100px;
		}
	}
	@media #{$medium} {
		main{
			padding: 0 20px;
		}
	}
	@media screen and (max-width: 350px) {
		header #logo{
			height: 80px;
			width: 80px;
		}
	}
}