@charset "UTF-8";
#insitu-other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: repeat url("../img/circle.svg") #e4e3d4; }
  #insitu-other .other-bold {
    font-weight: bold; }
  #insitu-other header #insitu-logo {
    width: 150px;
    height: 150px; }
  #insitu-other header #insitu-close:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); }
  #insitu-other main {
    width: 100%;
    height: 100vh;
    position: relative; }
    #insitu-other main #other-left, #insitu-other main #other-right {
      z-index: 4; }
      #insitu-other main #other-left .other-text, #insitu-other main #other-right .other-text {
        width: 350px; }
        #insitu-other main #other-left .other-text h1, #insitu-other main #other-left .other-text h2, #insitu-other main #other-right .other-text h1, #insitu-other main #other-right .other-text h2 {
          color: #e2007a;
          font-weight: normal;
          line-height: 110%; }
        #insitu-other main #other-left .other-text h1, #insitu-other main #other-left .other-text h2, #insitu-other main #other-left .other-text p, #insitu-other main #other-right .other-text h1, #insitu-other main #other-right .other-text h2, #insitu-other main #other-right .other-text p {
          margin-bottom: 20px; }
        #insitu-other main #other-left .other-text p, #insitu-other main #other-left .other-text ul li, #insitu-other main #other-right .other-text p, #insitu-other main #other-right .other-text ul li {
          line-height: 200%; }
      #insitu-other main #other-left .pink h1, #insitu-other main #other-left .pink h2, #insitu-other main #other-right .pink h1, #insitu-other main #other-right .pink h2 {
        color: #e2007a; }
      #insitu-other main #other-left .pink ul li::before, #insitu-other main #other-right .pink ul li::before {
        color: #e2007a; }
      #insitu-other main #other-left .red h1, #insitu-other main #other-left .red h2, #insitu-other main #other-right .red h1, #insitu-other main #other-right .red h2 {
        color: #e2001a; }
      #insitu-other main #other-left .red ul li::before, #insitu-other main #other-right .red ul li::before {
        color: #e2001a; }
    #insitu-other main #other-left {
      position: absolute;
      top: 190px;
      left: 20%; }
      #insitu-other main #other-left .other-text a {
        color: white;
        background: black;
        text-transform: uppercase;
        padding: 10px 15px;
        text-decoration: none;
        box-shadow: 5px 5px 5px grey; }
        #insitu-other main #other-left .other-text a span {
          text-decoration: underline; }
      #insitu-other main #other-left .other-text a:hover {
        color: black;
        background: #e4e3d4; }
    #insitu-other main #other-left::before {
      position: absolute;
      padding: 450px;
      top: -225px;
      left: -235px;
      transform: rotate(35deg);
      z-index: -1;
      content: "";
      background: no-repeat center url("../img/bulle_02.svg");
      background-size: cover; }
    #insitu-other main #other-right {
      position: absolute;
      bottom: 190px;
      right: 20%; }
      #insitu-other main #other-right .other-text ul {
        list-style-type: none;
        margin-left: 20px; }
        #insitu-other main #other-right .other-text ul li::before {
          content: "•";
          display: inline-block;
          width: 1em;
          margin-left: -1em; }
    #insitu-other main #other-right::before {
      position: absolute;
      padding: 350px;
      top: -245px;
      left: -185px;
      transform: rotate(-50deg);
      z-index: -1;
      content: "";
      background: no-repeat center url("../img/bulle_01.svg");
      background-size: cover; }

/*# sourceMappingURL=style_insitu_other.css.map */
