#contact-wrap {
  min-height: 100vh;
  width: 100%;
  background-color: #e4e3d4;
  overflow-x: hidden; }
  #contact-wrap main {
    margin-top: 239px;
    padding: 0 40px 0 300px; }
    #contact-wrap main h1 {
      font-size: 50px;
      font-weight: normal; }
    #contact-wrap main #content {
      display: flex;
      justify-content: space-between;
      padding-top: 60px; }
      #contact-wrap main #content #left-content, #contact-wrap main #content #right-content {
        width: 50%; }
      #contact-wrap main #content #left-contact img {
        width: 500px;
        height: 300px; }
      #contact-wrap main #content #left-contact #names {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 150px;
        width: 600px; }
        #contact-wrap main #content #left-contact #names div {
          position: relative; }
          #contact-wrap main #content #left-contact #names div p:first-child {
            font-size: 18px; }
          #contact-wrap main #content #left-contact #names div p {
            margin-bottom: 10px; }
          #contact-wrap main #content #left-contact #names div a {
            color: black;
            text-decoration: none; }
        #contact-wrap main #content #left-contact #names div:after {
          content: "";
          position: absolute;
          width: 55px;
          height: 8px;
          background: black;
          bottom: -10px;
          left: 0; }
      #contact-wrap main #content #left-contact #adress p:first-child {
        font-size: 35px;
        margin-bottom: 20px; }
      #contact-wrap main #content #left-contact #adress p:nth-child(2) {
        font-size: 45px;
        margin-bottom: 40px; }
        #contact-wrap main #content #left-contact #adress p:nth-child(2) span {
          position: relative; }
        #contact-wrap main #content #left-contact #adress p:nth-child(2) span:after {
          content: "";
          position: absolute;
          width: 55px;
          height: 8px;
          background: black;
          bottom: -8px;
          left: 0; }
      #contact-wrap main #content #left-contact #adress #adress-flex {
        display: flex;
        align-items: center; }
        #contact-wrap main #content #left-contact #adress #adress-flex img {
          width: 400px;
          height: 800px; }
        #contact-wrap main #content #left-contact #adress #adress-flex ul {
          list-style-type: none;
          margin-left: 30px; }
          #contact-wrap main #content #left-contact #adress #adress-flex ul li {
            margin-bottom: 15px; }
            #contact-wrap main #content #left-contact #adress #adress-flex ul li a {
              text-decoration: none;
              color: black; }
          #contact-wrap main #content #left-contact #adress #adress-flex ul li:last-child {
            margin-bottom: 0px; }
      #contact-wrap main #content #right-contact {
        padding-top: 200px;
        padding-left: 100px; }
        #contact-wrap main #content #right-contact p {
          font-size: 25px; }
        #contact-wrap main #content #right-contact form {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          width: 60%; }
          #contact-wrap main #content #right-contact form input, #contact-wrap main #content #right-contact form select, #contact-wrap main #content #right-contact form button {
            width: 100%;
            border: 8px solid black;
            padding: 10px 5px;
            margin-bottom: 10px;
            box-sizing: inherit; }
          #contact-wrap main #content #right-contact form button {
            background: black;
            text-align: left;
            color: white;
            transition: all 0.5s ease-out; }
          #contact-wrap main #content #right-contact form button:hover {
            cursor: pointer;
            background: white;
            color: black; }
          #contact-wrap main #content #right-contact form div {
            margin-top: 20px;
            margin-left: 15px; }
            #contact-wrap main #content #right-contact form div input {
              width: inherit;
              margin-right: 5px; }
            #contact-wrap main #content #right-contact form div label {
              line-height: 200%;
              font-size: 12px; }

/*# sourceMappingURL=style_contact.css.map */
