#insitu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #e4e3d4;
  overflow: hidden; }
  #insitu-wrap header {
    position: inherit; }
  #insitu-wrap main {
    width: 40%;
    text-align: center;
    position: relative; }
    #insitu-wrap main h1 {
      font-weight: normal;
      font-size: 50px;
      margin-bottom: 80px; }
    #insitu-wrap main #insitu-text p {
      line-height: 200%;
      margin: 0 auto 20px auto;
      width: 70%;
      font-size: 18px; }
      #insitu-wrap main #insitu-text p .insitu-bold {
        font-weight: bold; }
    #insitu-wrap main #insitu-text p:last-child {
      margin-bottom: 0px;
      margin-top: 50px;
      font-size: 30px; }
    #insitu-wrap main #insitu-left, #insitu-wrap main #insitu-right {
      position: absolute;
      padding: 300px;
      transition: transform 500ms ease-in-out; }
      #insitu-wrap main #insitu-left a, #insitu-wrap main #insitu-right a {
        height: 100%;
        width: 100%; }
        #insitu-wrap main #insitu-left a .txt-bubble, #insitu-wrap main #insitu-right a .txt-bubble {
          position: absolute;
          top: 25%;
          left: 20%;
          color: white;
          text-align: center;
          width: 50%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          #insitu-wrap main #insitu-left a .txt-bubble p:first-child, #insitu-wrap main #insitu-right a .txt-bubble p:first-child {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 30px; }
          #insitu-wrap main #insitu-left a .txt-bubble p:nth-child(2), #insitu-wrap main #insitu-right a .txt-bubble p:nth-child(2) {
            font-size: 18px;
            margin-bottom: 40px; }
          #insitu-wrap main #insitu-left a .txt-bubble .goto, #insitu-wrap main #insitu-right a .txt-bubble .goto {
            position: relative; }
            #insitu-wrap main #insitu-left a .txt-bubble .goto img, #insitu-wrap main #insitu-right a .txt-bubble .goto img {
              width: 15px;
              height: 15px;
              position: relative; }
          #insitu-wrap main #insitu-left a .txt-bubble .goto::before, #insitu-wrap main #insitu-right a .txt-bubble .goto::before {
            content: "";
            position: absolute;
            border: 7px solid white;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            left: -16px;
            bottom: -9px;
            display: inline-block; }
    #insitu-wrap main #insitu-left {
      left: calc(-50% - 200px);
      top: calc(50% - 200px);
      transform: rotate(-20deg);
      background: no-repeat center url("../img/bulle_rouge.svg");
      background-size: cover; }
    #insitu-wrap main #insitu-right {
      right: calc(-50% - 200px);
      top: calc(50% - 200px);
      transform: rotate(20deg);
      background: no-repeat center url("../img/bulle_rose.svg");
      background-size: cover; }
    #insitu-wrap main #insitu-left:hover, #insitu-wrap main #insitu-right:hover {
      transform: rotate(0deg); }

/*# sourceMappingURL=style_insitu.css.map */
